<form #todoForm = "ngForm" (submit)="doSubmit(todo)">
<hr>

<input type="text" class="form-control" placeholder="Action" name="Action"   [(ngModel)]='todo.Action'>
<br/>
<input type="text" class="form-control" name="Endroit" placeholder="Endroit" [(ngModel)]='todo.Endroit'>
<br/>
<button type="submit" class="btn btn-primary btn-block">Ajouter</button>



</form>
