<table class="table">

  <tr *ngFor = "let todo of todos" style="text-align:center;">
    <td>{{todo.Action}}</td>
    <td>{{todo.Endroit}}</td>
    <td>
      <button class="btn btn-danger" (click)="doDelete(todo)">Supprimer</button>
      <button class="btn btn-info" (click)="doUpdate(todo)">Modifier</button>
    </td>
  </tr>
</table>
