<h1 href="localhost:4200">
  {{title}}
</h1>

<p> Bienvenue sur votre ToDo List ...
	<br/>
Ajoutez vos tâches afin de ne rien oublier 😜
</p>

<app-al-todo-form></app-al-todo-form>
<hr>


	<app-al-todo-table></app-al-todo-table>


